* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
}

.hidden {
    display: none;
}

#city {
    text-align: center;
}
:root {
    --primary: #4fc3f7;
    --primary-dark: #0093c4;
    --primary-light: #8bf6ff;
    --secondary: #ff6277;
    --secondary-light: #ff95a6;
    --secondary-dark: #c72b4c;
}

body {
    background-color: #aaa;
    overflow-x: hidden;
}

.city {
    background-color: var(--primary-dark);
    color: white;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.low {
    background-color: lightgreen;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.moderate {
    background-color: #fff59d;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.severe {
    background-color: #ef9a9a;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header {
    width: 105%;
    text-align: center;
    background-color: var(--primary-dark);
    height: 100px;
    line-height: 100px;
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    color: white;
}



.day-card {
    background-color: var(--secondary-light);
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.name-area {
    margin-bottom: 5px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: unset;
}

button {
    border: unset;
    background-color: var(--secondary) !important;
    text-align: center !important;
    width: 200px !important;
    height: 40px;
    border-radius: 20px;
}

.city-form {
    display: block;
    margin: 0 auto;
    background-color: gainsboro;
    border-radius: 15px;
}


.current-icon {
    height: 42px;
    width: auto;
}

.five-day-container {
    background-color: white;
    border-radius: 15px;
    padding: unset;
    padding-bottom: 20px;
    margin-top: 20px;
}

.card-container {
    margin: unset;
}

.five-day-hd {
    background-color: var(--primary-dark);
    margin: unset;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 300;
}

.main {
    padding: 40px;
}

.date {
    font-size: 22px;
}

.current {
    background-color: whitesmoke;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

.current p {
    font-size: 24px;
}

@media only screen and (max-width: 425px) {
    header {
        box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24);
        position: fixed;
        font-size: 40px;
    }

    .history-container {
        display: none;
    }

    .city-form {
        background-color: #aaa;
        margin-top: 100px;
    }

    .main {
        padding-top: 0;
    }

    .name-area {
        width: 100%;
    }

    button {
        width: 100% !important;
    }
}